---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Lato, Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.75;

$spacing-unit:     30px;

$text-color:       #333;
$heading-color:    #111;
$background-color: #fdfdfd;
$brand-color:      #db4800;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    80%;

$on-palm:          600px;
$on-laptop:        800px;

.flag:before {
  content: "";
  width: 25px;
  height: 15px;
  margin-left: 5px;
  display: inline-block;
}

.flag-de:before {
  background: url("../docs/flags/de.png") no-repeat;
  background-size: 25px 15px;
}

.flag-en:before {
  background: url("../docs/flags/en.png") no-repeat;
  background-size: 25px 15px;
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
