{% if page.categories %}
{% for language in page.categories %}

  {% if language == 'de' %}
        <div class="topnav" id="myTopnav">
            <a href="https://www.opitz-consulting.com/index.html" target="_blank"><span class="navbar-icon-opitz"></span></a>
            <a href="{{site.baseurl}}/de/">HOME</a>
            <a href="{{site.baseurl}}/docs/de/usage/">DOKUMENTATION</a>
            <a href="{{site.baseurl}}/docs/de/contact/">KONTAKT</a>
            <a href="https://thecattlecrew.net/?s=orcas" target="_blank">BLOG</a>
          <a href="https://github.com/opitzconsulting/orcas"><div class="git-icon"></div></a>
          {% if page.navigation == false %}
          <a href="{{site.baseurl}}/"><span class="flag flag-en"></span></a>
        {% endif %}
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#8801;</a>
        </div>
        {% else %}
        <div class="topnav" id="myTopnav">
            <a href="https://www.opitz-consulting.com/index.html" target="_blank"><span class="navbar-icon-opitz"></span></a>
            <a href="{{site.baseurl}}/">HOME</a>
            <a href="{{site.baseurl}}/docs/usage/">DOCUMENTATION</a>
            <a href="{{site.baseurl}}/docs/contact">CONTACT</a>
            <a href="https://thecattlecrew.net/?s=orcas" target="_blank">BLOG</a>
          <a href="https://github.com/opitzconsulting/orcas"><span class="git-icon"></span></a>
          {% if page.navigation == false %}
          <a href="{{site.baseurl}}/de/"><span class="flag flag-de"></span></a>
        {% endif %}
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#8801;</a>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
               
        <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
        </script>
