<div class="site-navigation">
  <h2>Navigation</h2>
  <ul>
    <li><a href="{{site.baseurl}}/docs/ant-tasks/">ant-Tasks zur Ablaufsteuerung</a></li>
    <li><a href="{{site.baseurl}}/docs/dbdoc/">dbdoc</a></li>
    <li><a href="{{site.baseurl}}/docs/dev-docs/">Entwicklerdokumentation</a></li>
    <li><a href="{{site.baseurl}}/docs/examples/">Beispielprojekte</a></li>
    <li><a href="{{site.baseurl}}/docs/extensions/">Extensions</a></li>
    <li><a href="{{site.baseurl}}/docs/features/">Feature-Matrix</a></li>
    <li><a href="{{site.baseurl}}/docs/generate-scripts/">Generieren der Statics-Tabellenskripte</a></li>
    <li><a href="{{site.baseurl}}/docs/getting-started/">Getting Started</a></li>
    <li><a href="{{site.baseurl}}/docs/how-it-works/">Funktionsweise von Orcas</a></li>
    <li><a href="{{site.baseurl}}/docs/integration-tests/">Integrationstests</a></li>
    <li><a href="{{site.baseurl}}/docs/participate/">Hilf uns bei der Entwicklung!</a></li>
    <li><a href="{{site.baseurl}}/docs/statics-syntax/">Statics Syntax</a></li>
    <li><a href="{{site.baseurl}}/docs/supported-db-functions/">Unterstützte DB-Funktionen</a></li>
  </ul>
</div>
