<h2>Navigation</h2>
<ul>
    <li>
        <a href="{{site.baseurl}}">
            <span class="flag flag-en"></span> English
        </a>
        <a href="{{site.baseurl}}/de/">
            <span class="flag flag-de"></span> German
        </a>
    </li>
</ul>

<ul>
    <li><a href="{{site.baseurl}}/">Home</a></li>
    <li><a href="{{site.baseurl}}/docs/usage/">How to work with Orcas?</a></li>
    <li><a href="{{site.baseurl}}/docs/liquibase/">Delimitation of liquibase/flyway</a></li>
    <li>
        Getting Started
        <ul>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/installation/">Installation</a></li>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/examples/">Example projects</a></li>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/generate-scripts/">Generating the table scripts</a></li>
        </ul>
    </li>
    <li>
        Orcas
        <ul>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/project-structure/">Project structure</a></li>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/ant-tasks/">Orcas ant-Tasks sequence control</a></li>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/statics-syntax/">Table syntax</a></li>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/domain-extension/">Domain Extension</a></li>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/extensions/">Extensions</a></li>
        </ul>
    </li>
    <li>
        Additional documentation
        <ul>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/dbdoc/">dbdoc</a></li>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/talking-about/">Orcas in the internet</a></li>
        </ul>
    </li>
    <li>
        Help in further development
        <ul>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/participate/">Help us in further developing!</a></li>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/dev-docs/">Developer documentation</a></li>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/integration-tests/">Integration tests</a></li>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/how-it-works/">Functionality of Orcas</a></li>
            <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/update-docs/">Maintenance of the documentation</a></li>
        </ul>
    </li>
</ul>