<h2>Navigation</h2>
<ul>
    <li>
        <a href="{{site.baseurl}}">
            <span class="flag flag-en"></span> Englisch
        </a>
        <a href="{{site.baseurl}}/de/">
            <span class="flag flag-de"></span> Deutsch
        </a>
    </li>
</ul>

<ul>
    <li><a href="{{site.baseurl}}/de/">Home</a></li>
    <li><a href="{{site.baseurl}}/docs/de/usage/">Wie arbeitet man mit Orcas?</a></li>
    <li><a href="{{site.baseurl}}/docs/de/liquibase/">Abgrenzung zu liquibase/flyway</a></li>
    <li>
      Getting Started
      <ul>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/installation/">Installation</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/examples/">Beispielprojekte</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/generate-scripts/">Generieren der Tabellenskripte</a></li>
      </ul>
    </li>
    <li>
      Orcas
      <ul>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/project-structure/">Projekt-Struktur</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/ant-tasks/">ant-Tasks zur Ablaufsteuerung</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/statics-syntax/">Tabellen Syntax</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/domain-extension/">Domain-Extension</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/extensions/">Extensions</a></li>
      </ul>
    </li>
    <li>
      Weiterführende Dokumentation
      <ul>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/dbdoc/">dbdoc</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/talking-about/">Orcas im Netz</a></li>
      </ul>
    </li>
    <li>
      Bei der Weiterentwicklung helfen
      <ul>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/participate/">Hilf uns bei der Weiterentwicklung!</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/dev-docs/">Entwicklerdokumentation</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/integration-tests/">Integrationstests</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/how-it-works/">Funktionsweise von Orcas</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/update-docs/">Pflege der Dokumentation</a></li>
      </ul>
    </li>
    <li>
      Schulung
      <ul>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung/">Übersicht</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil1_1/">Teil 1.1 - Das Beispiel zum Laufen bringen</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil1_2/">Teil 1.2 - Ein paar einfache Experimente</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil1_3/">Teil 1.3 - One-Time-Skripte</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil2_1/">Teil 2.1 - Orcas ant-Tasks</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil2_2/">Teil 2.2 - Eigenes Orcas Schema</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil2_3/">Teil 2.3 - One-Time-Skripte</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil2_4/">Teil 2.4 - Logging</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil2_5/">Teil 2.5 - Packages, Views & Co</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil2_6/">Teil 2.6 - Properties</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil2_7/">Teil 2.7 - Mehrere Targets</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil2_8/">Teil 2.8 - Reverse Engineering</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil3_1/">Teil 3.1 - Orcas Extensions</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil3_2/">Teil 3.2 - Domain Extensions</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil3_3/">Teil 3.3 - Eigene Java Extensions</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil3_4/">Teil 3.4 - Eigene PL/SQL Extensions</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil3_5/">Teil 3.5 - Eigene Syntax Extensions</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil4/">Teil 4</a></li>
        <li><i class="fa fa-database"></i><a href="{{site.baseurl}}/docs/de/schulung_teil5/">Teil 5 - Einsatzszenarien</a></li>
      </ul>
    </li>
  </ul>
