/**
 * Site Navigation
 */
.site-navigation {
    width: 30%;
    float: right;
    padding-top: $spacing-unit;
    line-height: 1.75;
    font-weight: bold;
    margin-left: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #f8f8f8;
}

.site-navigation ul {
    list-style-type: none;
}

.site-navigation i {
    color: $grey-color-light;
    padding-right: 0.5em;
    margin-left: -1em;
}

.site-navigation h2 {
    padding-left: $spacing-unit;
}

/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 2em;
    line-height: 3em;
    color: $brand-color;
}

.about {
  position: absolute;
    left: $content-width;
    font-size: 20px;
    line-height: 56px;
    letter-spacing: -.5px;
    margin-bottom: 0;
    padding-left: $spacing-unit;

    &,
    &:visited {
      color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
   background-color: $grey-color-light;
   color: #000;
   padding: $spacing-unit 0 $spacing-unit/2;
}

.site-footer h3 {
  color: $grey-color-dark;
  font-size: 1em;
  margin: 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 1.75em;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 1.5em;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 1.25em;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 1em;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.section-nav {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  margin-right: 25%;

  > div { width: 49.5%; }

  a,
  span {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 12px 10px;
    background-color: #555;
  }

  a:hover {
    color: #fff;
    background-color: #666;
  }

  .next,
  .prev { position: relative; }

  .next:after,
  .prev:before {
    font-size: 36px;
    color: #222;
    font-weight: 900;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    position: absolute;
    top: -7px;
  }

  .next:after {
    content: '\203A';
    right: 10px;
  }

  .prev:before {
    content: '\2039';
    left: 10px;
  }

  .prev,
  .prev:hover { padding-left: 30px; }

  .next,
  .next:hover { padding-right: 30px; }

  .disabled {
    opacity: .5;
    cursor: default;
  }
}

.left { float: left; }
.right { float: right; }
.align-left { text-align: left; }
.align-right { text-align: right; }
