<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

      {% include navbar.html %}  

      {% if page.title == "Was ist Orcas?" %}
        <div class="header-img index-img"></div>
      {% else %}
        {% if page.title == "About Orcas" %}
        <div class="header-img index-img"></div>
        {% endif %}
      {% endif %}

    <div class="page-content">
      <div class="wrapper">
            {% include navigation.html %}
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
