---
layout: default
---
<div class="post">

  <header class="post-header">
    {% if page.titlepage !=true %}
      <h1 class="post-title">{{ page.title }}</h1>
    {% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="post-footer">
    <a href="{{site.github.repository_url}}/blob/gh-pages/{% if page.collection %}{{ page.relative_path }}{% else %}{{ page.path }}{% endif %}"><i class="fa fa-pencil-square-o"></i> Improve this page</a>
  </footer>

</div>
